version: '3.8'

services:
  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/:/usr/src/backend/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - db
  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=hello_django
      - POSTGRES_PASSWORD=hello_django
      - POSTGRES_DB=hello_django_dev

  bot:
    build: ./tgbot
    container_name: posvyat_tg_bot
    command: python run_pooling.py
    volumes:
      - ./tgbot/:/usr/src/tgbot/
#    env_file:
#      - ./.env
    depends_on:
      - web
      - db

volumes:
  postgres_data: