requests

# Django
Django

# Type Validation
pydantic
typing

# Telegram
python-telegram-bot
python-telegram-bot-pagination==0.0.2

# Google API
google-api-python-client~=2.55.0
google-auth~=2.9.1
google-auth-httplib2~=0.1.0
google-auth-oauthlib~=0.5.2